#####################################################################
#   Macros
#####################################################################


#	REV 1.4 07-10-23 
[gcode_macro PARK]
gcode:
    {% set th = printer.toolhead %}
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y//2} Z30  

[gcode_macro G32]
gcode:
   SAVE_GCODE_STATE NAME=STATE_G32
   G90
   G28
   QUAD_GANTRY_LEVEL
   G28
   PARK
   RESTORE_GCODE_STATE NAME=STATE_G32


[gcode_macro INPUT_SHAPER_CALIBRATE]
gcode:
   SHAPER_CALIBRATE
   
#[gcode_macro START_PRINT]
#gcode:

 # {% set target_bed = params.BED|int %}
 # {% set target_extruder = params.EXTRUDER|int %}

 # STATUS_HEATING
 # M140 S{target_bed}
 # M104 S150                                         #Set extruder to 151c

 # STATUS_HOMING
 # G32                                              # Home all axes, and perform QGL
 # G90                                              # Absolute positioning
 # BED_MESH_CALIBRATE
 # BED_MESH_PROFILE LOAD="default"

 # STATUS_BUSY
 # G1 Z10 F3000                                     # Lift nozzle up

 # G0 X50 Y4 F10000                                 # Moves to starting point
 # G0 Z0.4                                          # Raises Z to 0.4
 # M109 S{target_extruder}                          # Heats the nozzle to printing temp

 # STATUS_HEATING

 # G91                                              # Relative positioning
 # STATUS_PRINTING
 # G1 X100 E20 F1000                                # Purge line
 # G90                                              # Absolute positioning
  
 # [gcode_macro END_PRINT]
# gcode:
#   M400                           ; wait for buffer to clear
#   G92 E0                         ; zero the extruder
#   G1 E-5.0 F1800                 ; retract filament
    
#   TURN_OFF_HEATERS
    
#   G90                                      ; absolute positioning
#    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
#    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
#   M107                                     ; turn off fan
    
#    BED_MESH_CLEAR
#    RESTORE_GCODE_STATE NAME=STATE_PRINT_END    
# Turn off bed, extruder, and fan
#     M140 S0
#     M104 S0
#     M106 S0

   # FAN=filter SPEED=0
   #  STATUS_READY
   #  EZNEO_BLUE